@use 'index' as *;
@use '@angular/material' as mat;

.copy-responder-link-menu-content-container {
  padding: $space-sm;

  .menu-content {
    display: flex;
    flex-direction: column;

    .menu-button-container {
      display: flex;
      flex-direction: row;
      justify-content: right;
      gap: $space-sm;

      @include mat.button-overrides((
        outlined-container-shape: $space-xs,
        text-container-shape: $space-xs
      ));
    }

    .menu-button-container.with-top-margin {
      margin-top: $space-sm;
    }
  }

  .menu-content.with-gap {
    gap: $space-sm
  }

  .menu-title {
    font-size: $space-md * 1.3;
  }

  button {
    align-self: end;
  }
}
