@use 'index' as *;
@use '@angular/material' as mat;

.parent-container {
  @include mat.card-overrides((
    elevated-container-shape: 0,
    elevated-container-color: white
  ));
}

.info-action-container {
  display: flex;
  flex-direction: row;
}

.tab-container {
  align-items: center;
  margin: $space-md 0 0 0;
}

.form-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-sm;
}

.form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.title {
  font-size: $space-lg;
}

.app-logo {
  cursor: pointer;
}

.published-button {
  margin: 0 $space-sm 0 $space-sm;

  @include mat.button-overrides((
    outlined-container-shape: $space-xs,
  ));
}

.publish-button {
  margin: 0 $space-sm 0 $space-sm;

  @include mat.button-overrides((
    filled-container-shape: $space-xs
  ))
}

.not-accepting-response-container {
  background-color: #fffade;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-xxl * 2;
  justify-content: center;
  padding: $space-xxs $space-md;

  .not-accepting-response-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-sm;

    p {
      color: black;
    }

    .edit-off-icon {
      @include mat.icon-overrides((
        color: #DA883F,
      ));
    }
  }

  button {
    @include mat.button-overrides((
      text-container-shape: $space-xs,
      text-label-text-color: rgb(95, 99, 104),
      text-ripple-color: #DBD7BF,
      text-state-layer-color: #DBD7BF,
      text-hover-state-layer-opacity: 0.3
    ))
  }
}
