<mat-card appearance="raised" class="parent-container edit-form-header">
  <mat-card-content>
    <div class="info-action-container">
      <div class="form-info">
        <img class="app-logo" ngSrc="assets/images/app-logo.png" width="48" height="48" alt="Application logo"
             matTooltip="Form home">
        <p class="title">{{ formRes()!.title }}</p>
      </div>
      <div class="form-actions">
        <button matIconButton matTooltip="Preview" (click)="onPreviewClick()">
          <mat-icon fontIcon="visibility"/>
        </button>
        <button matIconButton matTooltip="Copy responder link" [matMenuTriggerFor]="menu" #copyResponderLinkButton>
          <mat-icon fontIcon="link"/>
        </button>
        <mat-menu #menu="matMenu" class="decorated-menu wide">
          <app-copy-responder-link-menu-content
            [formRes]="formRes()!"
            (copy)="menu._setIsOpen(false)"
            (publish)="onPublishClick(); menu._setIsOpen(false)"
          />
        </mat-menu>
        <button matIconButton matTooltip="Share">
          <mat-icon fontIcon="person_add"/>
        </button>
        @if (formRes()!.published) {
          <button matButton="outlined" class="published-button" (click)="openPublishedOptionsDialog()">
            Published
            <mat-icon iconPositionEnd fontIcon="tune"/>
          </button>
        } @else {
          <button class="publish-button" matButton="filled" (click)="onPublishClick()">Publish</button>
        }
        <button matIconButton matTooltip="More" [matMenuTriggerFor]="moreMenu">
          <mat-icon fontIcon="more_vert"/>
        </button>
        <mat-menu #moreMenu="matMenu" class="decorated-menu">
          <button mat-menu-item>
            <mat-icon fontIcon="content_copy"/>
            <span>Make a copy</span>
          </button>
          <button mat-menu-item>
            <mat-icon fontIcon="delete"/>
            <span>Move to bin</span>
          </button>
          <button mat-menu-item>
            <mat-icon fontIcon="print"/>
            <span>Print</span>
          </button>
          <button
            mat-menu-item
            (click)="onUnpublishFormClick()"
            [disabled]="!formRes()!.published"
          >
            <mat-icon fontIcon="unpublished"/>
            <span>Unpublish form</span>
          </button>
        </mat-menu>
        <button matIconButton matTooltip="Account">
          <mat-icon fontIcon="person"/>
        </button>
      </div>
    </div>
    <div class="tab-container">
      <nav class="edit-form-tabs" mat-tab-nav-bar [tabPanel]="tabPanel">
        @for (tab of tabs(); track $index) {
          <a mat-tab-link
             (click)="onTabClick(tab.link)"
             [active]="activatedLink() === tab.link">
            {{ tab.label }}
          </a>
        }
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
  </mat-card-content>
</mat-card>
@if (!formRes()!.acceptingResponse) {
  <div class="not-accepting-response-container">
    <div class="not-accepting-response-message-container">
      <mat-icon fontIcon="edit_off" class="edit-off-icon"/>
      <p>This form isn't accepting responses.</p>
    </div>
    <button matButton (click)="openPublishedOptionsDialog()">Manage</button>
  </div>
}
