@use 'index' as *;
@use '@angular/material' as mat;

.question-type-selector-item-divider {
  margin: $space-xs 0 $space-xs 0;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: end;

  *:not(.divider) {
    align-content: center;
  }
}

.question-action-divider {
  margin: $space-xl 0 $space-md 0;
}

.divider {
  display: flex;
  flex-direction: row;
  margin: $space-xxs $space-md $space-xxs $space-md;
}

.required-toggle-container {
  display: flex;
  flex-direction: row;
  gap: $space-md;

  p {
    font-size: $space-md;
    cursor: default;
  }
}
