@use "index" as *;
@use "@angular/material" as mat;

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $space-xs;
  padding: $space-md 0 $space-md 0;

  .add-file-button {
    @include mat.button-overrides((
      outlined-container-shape: $space-xs,
    ));
  }
}
