@use "index" as *;
@use "@angular/material" as mat;

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: $space-xs;
  padding: $space-md 0 $space-md 0;

  .add-file-button {
    @include mat.button-overrides((
      outlined-container-shape: $space-xs,
    ));
  }

  .file-upload-message {
    font-size: $space-sm;
    margin: 0 0 $space-xs 0;
    color: #757575;
  }

  .selected-file-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #dadada;
    padding: 0 3px 0 7px;
    border-radius: $space-xxs;
    align-items: center;

    .file-name {
      font-size: $space-md;
      max-width: 120px;
      margin: 0 $space-xs 0 $space-xs;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .file-name:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
