@use 'index' as *;
@use '@angular/material' as mat;

.parent-container {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  .card-container {
    @include mat.card-overrides((
      elevated-container-shape: $space-xs,
      elevated-container-color: white
    ));
  }

  .square-text-button {
    @include mat.button-overrides((
      text-container-shape: $space-xxs
    ));
  }

  .question-card-content {
    padding: $space-lg;

    .question {
      font-weight: 400;
      font-size: $space-md;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }

  .response-card-content {
    display: flex;
    flex-direction: column;

    .rating-container {
      display: flex;
      flex-direction: row;
      padding: $space-lg;
      justify-content: space-evenly;

      .rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-lg;
        padding: $space-sm 0;

        .number {
          font-family: Roboto, Arial, sans-serif;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: .2px;
          line-height: 20px;
          color: #1f1f1f;
        }
      }
    }

    .response-count {
      border-top: 1px solid #dadada;
      margin: 0 $space-lg;
      padding: $space-sm 0;
    }
  }
}
