<div class="parent-container">
  <div class="rating-preview">
    <p class="average-rating">Average rating ({{ (+responseSummary().averageRating).toFixed(2) }})</p>
    <ul>
      @for (num of ratingNums(); track num) {
        <li>
          <p>{{ num }}</p>
          <img
            [ngSrc]="ratingIconToPath(responseSummary().ratingIcon,num <= ceilAvgRating() ? 'activated' : 'disabled')"
            height="24" width="24">
        </li>
      }
    </ul>
  </div>
  @if (chartOptions) {
    <div class="column-chart-container">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [plotOptions]="chartOptions.plotOptions!"
        [dataLabels]="chartOptions.dataLabels!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!"
        [title]="chartOptions.title!"
      ></apx-chart>
    </div>
  }
</div>
