@use 'index' as *;
@use '@angular/material' as mat;

.parent-container {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  .card-container {
    @include mat.card-overrides((
      elevated-container-shape: $space-xs,
      elevated-container-color: white
    ));
  }

  .square-text-button {
    @include mat.button-overrides((
      text-container-shape: $space-xxs
    ));
  }

  .question-card-content {
    padding: $space-lg;

    .question {
      font-weight: 400;
      font-size: $space-md;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }

  .response-card-content {
    display: flex;
    flex-direction: column;

    .response-text {
      padding: $space-lg;
      font-family: Roboto, Arial, sans-serif;
      font-size: 20px;
      font-weight: 300;
      word-wrap: break-word;
    }

    .response-count {
      border-top: 1px solid #dadada;
      margin: 0 $space-lg;
      padding: $space-sm 0;
    }
  }
}
