@use 'index' as *;
@use '@angular/material' as mat;

.parent-container {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  .card-container {
    @include mat.card-overrides((
      elevated-container-shape: $space-xs,
      elevated-container-color: white
    ));
  }

  .square-text-button {
    @include mat.button-overrides((
      text-container-shape: $space-xxs
    ));
  }

  .question-card-content {
    padding: $space-lg;

    .question {
      font-weight: 400;
      font-size: $space-md;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }

  .response-card-content {
    display: flex;
    flex-direction: column;

    .file-container {
      padding: $space-lg;

      .file {
        max-width: 120px;
        align-items: center;
        font-family: Roboto, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .2px;
        color: #1f1f1f;
        border: 1px solid #dadada;
        border-radius: 4px;
        line-height: 36px;
        min-height: 36px;
        padding: 0 $space-xs;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .response-count {
      border-top: 1px solid #dadada;
      margin: 0 $space-lg;
      padding: $space-sm 0;
    }
  }
}
