@use "index" as *;
@use "@angular/material" as mat;

.icon-action-pair {
  display: flex;
  flex-direction: row;
  gap: $space-md;
}

.icon-action-pair.align-items-center {
  align-items: center;
}

.accepting-response-container {
  display: flex;
  flex-direction: column;
}

.accepting-response-config-container {
  display: flex;
  flex-direction: row;
  margin-top: $space-md;
  gap: $space-md;
  align-items: center;
}

.accepting-response-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close-response-limit-button-container {
  margin-top: $space-xs;
  min-width: 400px;

  button {
    @include mat.button-overrides((
      text-label-text-color: rgb(26, 115, 232),
      text-ripple-color: rgb(210, 227, 252),
      text-state-layer-color: rgb(210, 227, 252),
      text-hover-state-layer-opacity: 0.3,
    ))
  }
}

.not-accepting-response-message-container {
  margin-top: $space-sm;
  display: flex;
  flex-direction: row;
  align-items: center;

  .label-container {
    display: flex;
    flex-direction: column;
    gap: $space-sm;

    :first-child {
      color: black;
    }
  }
}

.responder-manage-action-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $space-sm;
}

.responder-manage-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.responder-manage-action-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-sm
}

.content-divider {
  margin-top: 20px;
}

button {
  @include mat.button-overrides((
    text-container-shape: $space-xs,
    outlined-container-shape: $space-xs,
    filled-container-shape: $space-xs,
    filled-container-color: rgb(95, 42, 4)
  ))
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $space-md $space-lg;

  .main-action-buttons-container {
    display: flex;
    flex-direction: row;
    gap: $space-sm;
  }

  button {
    @include mat.button-overrides((
      outlined-label-text-color: rgb(26, 115, 232),
      outlined-ripple-color: rgb(210, 227, 252),
      outlined-state-layer-color: rgb(210, 227, 252),
      outlined-hover-state-layer-opacity: 0.3,
    ))
  }
}
