<div class="parent-container">
  @if (isFormLoaded()) {
    <div class="main-content">
      <app-view-form-info [formRes]="viewFormService.formRes()!"/>
      <ul class="question-list">
        @for (q of viewFormService.formRes()?.questions; track q.id) {
          <li>
            <app-view-form-question-wrapper
              [question]="q"
              [submitClick]="submitClick"
              [clearClick]="clearClick"
              (questionResponse)="onQuestionResponseEmit($event)"
            />
          </li>
        }
      </ul>
      <div class="buttons-container">
        <button class="submit-button" matButton="filled" (click)="onFormSubmit()">Submit</button>
        <button class="clear-button" matButton (click)="onClearClick()">Clear form</button>
      </div>
    </div>
  } @else if (formError()?.reason === 'NOT_ACCEPTING_RESPONSE') {
    <div class="not-accepting-response-message-container">
      <app-question-card [isTopItem]="true">
        <div class="not-accepting-response-content-container">
          <p class="form-title">{{ formError()!.formTitle }}</p>
          <p>{{ formError()!.message }}</p>
        </div>
      </app-question-card>
      <div class="footer-container">
        <p>This content is neither created nor endorsed by Form Engine. -
          <a>Contact form owner</a>
          -
          <a>Terms of Service</a>
          -
          <a>Privacy Policy</a>
        </p>
        <p>Does this form look suspicious? <a>Report</a></p>
        <p class="app-title">Form Engine</p>
      </div>
    </div>
  } @else if (formError()?.reason === 'NOT_PUBLISHED') {
    <div class="not-published-container">
      <div class="app-title-container">
        <img ngSrc="assets/images/app-logo.png" height="48" width="48" alt="Form engine logo">
        <p class="app-title">Form Engine</p>
      </div>
      <p class="message">{{ formError()?.message }}</p>
    </div>
  } @else {
    <div class="loader-container">
      <mat-spinner/>
    </div>
  }
</div>
